@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Poppins:wght@300&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

li {
    position: relative;
    display: inline-block;
}

li:after {
    content: "";
    position: absolute;
    left: 10%;
    top: 90%;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width .3s ease-in-out;
}

li:hover:after {
    width: 90%;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

ul li {
    padding: 10px 1rem;
    font-family: 'poppins', sans-serif;
}

.blank {
    background: linear-gradient(to right, rgb(230, 218, 206), white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avtaar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(244, 236, 230);
    flex-grow: 1;
}

#name {
    margin: 30px 0;
    font-family: 'poppins', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

#name::after {
    content: "";
    background: blue;
    display: block;
    width: 100px;
    height: 3px;
    margin: 5px auto;
}

#designation {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    background: white;
    flex-grow: 2;
}

#greeting {
    font-size: 4rem;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

#greeting:after {
    content: "";
    background: blue;
    display: block;
    top: 100%;
    right: 0%;
    width: 100px;
    height: 3px;
}

#about {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.btn-box {
    display: flex;
}

button {
    margin: 10px;
    transition: background, color .8s;
}

.resume {
    background: blue;
    color: white;
}

.projects {
    background: white;
    color: black;
}

.projects:hover {
    background: blue;
    color: white;
}

.resume:hover {
    background: white;
    color: black;
}

#details {
    padding: 10px !important;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.icons {
    color: black;
}

i {
    padding: 10px;
    transition: all .5s;
}

i:hover {
    background: white;
    color: black;
    border-radius: 50%;
}